

<h1><%=@prod.title%></h1>

<div class="prod_cent">
<div class= "prod">

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src= <%=@image_fr%> >
    </iframe>

    <!-- <p>hey</p> -->
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src= <%=@image_es%> >
    </iframe>

    <!-- <p>hey</p> -->
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src= <%=@image_de%> >
    </iframe>

    <!-- <p>hey</p> -->
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src= <%=@image_it%> >
    </iframe>

</div>
</div>



<p></p>
<hr>


<h3> Nouvelle recherche</h3>
<div class="card" style="width: 18rem;">
              
<%= form_for :anything, url: "/product", method: :get do |f| %>
                <!-- <input class="form-control form-control-lg" placeholder="Enter your email..."> -->
                <%= f.text_field :name, class: "form-control form-control-lg", id: "provider-json" %>


              
              
                <!-- <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button> -->
                <%= f.submit value="Send", class: "btn btn-block btn-lg btn-primary"%>

                
            

            <% end %>
                
            

            </div>
            
</div>

</div>
